.post-container {
  width: 888px;
  float: left;

  .post-list {
    .post-title {
      font-size: 18px;
      font-weight: 400;
      text-align: left;
    }

    .post-feature-image {
      padding-top: 32.6%;
    }
  }

  .post {
    padding-top: 37px;
    margin: 0 30px 35px;
    border-top: 1px solid @oc-gray-2;

    a:first-child:hover .post-title {
      font-weight: 500;
    }

    .post-info {
      height: 15px;
      font-size: 12px;
      margin: 17px 0;

      .post-time,
      .post-tag {
        color: @oc-gray-6;
        line-height: 16px;
      }

      .post-tag:hover {
        color: @oc-gray-7;
      }
    }

    .post-feature-image {
      display: block;
      width: 100%;
      border-radius: 2px;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      transition: all 0.3s;

      img {
        width: 100%;
      }
    }

    .post-abstract {
      margin: 16px 0 0;
      font-size: 14px;
      line-height: 200%;

      h2 {
        font-size: 16px;
        font-weight: 500;
      }

      strong {
        font-weight: bolder;
      }

      code {
        padding: 0 3px;
        margin: 0 2px;
        color: @logo-yellow;
        font-size: 0.9em;
        border-radius: 2px;
      }
    }
  }

  .post:first-of-type {
    padding-top: 28px;
    margin-bottom: 30px;
    border-top: 0;
  }
}

.pagination-container {
  font-weight: 400;
  margin: 0;
  height: 57px;
  background: #f8f8f8;
  border-top: @oc-gray-3 solid 1px;
  background-image: -moz-linear-gradient(top, #fafafa, #f4f4f4);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f4f4f4));

  .prev-btn,
  .next-btn {
    float: left;
    display: block;
    width: 118px;
    height: 35px;
    padding: 0;
    margin-top: 11px;
    margin-left: 30px;
    border: 1px solid #dedede;
    border-radius: 6px;
    background-color: #f8f8f8;
    background-image: linear-gradient(#fbfbfb, #f5f5f5);
    text-align: center;
    color: #646464;
    line-height: 35px;
  }

  .next-btn {
    float: right;
    margin-right: 30px;
  }

  .prev-btn:hover,
  .next-btn:hover {
    font-weight: 400;
    color: #5e5e5e;
    background-color: #ececec;
    background-image: linear-gradient(#e2e2e2, #ededed);
  }
}